.body {
 
  margin: 0; 
  font-family: "Madimi One", sans-serif;
  font-weight: 1000;
  font-style: normal;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
